<h1>Register</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
 <label> Account:
 <input type="text" formControlName="Account">
 <div *ngIf="submitted &&
registerForm.controls.Account.errors" class="error">
 <div *ngIf="registerForm.controls.Account.errors.required">Your Account is
required</div>
 </div>
 </label>

    <label> Password:
        <input type="password" formControlName="password">
        <div *ngIf="submitted &&
       registerForm.controls.password.errors" class="error">
        <div *ngIf="registerForm.controls.password.errors.required">Your Password is
       required</div>
        </div>
        </label>

        <label> name:
            <input type="text" formControlName="name">
            <div *ngIf="submitted &&
           registerForm.controls.name.errors" class="error">
            <div *ngIf="registerForm.controls.name.errors.required">Your Password is
           required</div>
            </div>
            </label>

            <label> address:
                <input type="text" formControlName="address">
                <div *ngIf="submitted &&
               registerForm.controls.address.errors" class="error">
                <div *ngIf="registerForm.controls.address.errors.required">Your Password is
               required</div>
                </div>
                </label>


                <label> phone:
                    <input type="text" formControlName="phone">
                    <div *ngIf="submitted &&
                   registerForm.controls.phone.errors" class="error">
                    <div *ngIf="registerForm.controls.phone.errors.required">Your Password is
                   required</div>
                    </div>
                    </label>

 <input type="submit" value="Register" class="cta">

 </form>
