<form [formGroup]="addGameForm" (ngSubmit)="onSubmit()">
  
         <label> Game Name:
             <input type="text" formControlName="name">
             <div *ngIf="submitted &&
            addGameForm.controls.name.errors" class="error">
             </div>
             </label>
 
             <label> Description:
                 <input type="text" formControlName="description">
                 <div *ngIf="submitted &&
                addGameForm.controls.description.errors" class="error">
                 
                 </div>
                 </label>
 
 
                 <label> price:
                     <input type="text" formControlName="price">
                     <div *ngIf="submitted &&
                    addGameForm.controls.price.errors" class="error">
                     <div *ngIf="addGameForm.controls.price.errors.required">Your Password is
                    required</div>
                     </div>
                     </label>

                  <label>Type: <select  (change)="onChange($event.target.value)" > <option *ngFor="let item of items" [ngValue]="item" [selected]="selectedItem.name === item.name">{{item.name}}</option>
            </select>



                  </label><br> 
 
  <input type="submit" value="Add Game" class="cta">
 
  </form>